<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UriMpcOrb" value="http://www.minorplanetcenter.net/iau/MPCORB/MPCORB.DAT"/>
    <add key="UriAstOrb" value="ftp://ftp.lowell.edu/pub/elgb/astorb.dat"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
